.navbar {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  width: 150px;
  color: #008c15;
  font-size: 30px;
  font-weight: 700;
}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 20px;
  color: #49557e;
  font-size: 18px;
  cursor: pointer;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navbar button {
  background-color: transparent;

  font-size: 16px;
  color: #49557e;
  border: 1px solid #008c15;
  border-radius: 50px;
  padding: 10px 30px;
  cursor: pointer;
  transition: 0.3s;
}

.navbar button:hover {
  background-color: #f4fff2;
}

.navbar .active {
  padding-bottom: 2px;
  border-bottom: 2px solid #008c15;
}

.navbar-search-icon {
  position: relative;
}

.navbar-search-icon .dot {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  border-radius: 5px;
  background-color: #37fd12;
  top: -8px;
  right: -8px;
}

.navbar-profile {
  position: relative;
  cursor: pointer;
}

.navbar-profile-dropdown {
  position: absolute;
  display: none;
  right: 0;
  z-index: 1;
}

.navbar-profile:hover .navbar-profile-dropdown {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ffffff;
  padding: 15px 25px;
  border-radius: 4px;
  border: 1px solid #e5e5e5;
  outline: 1px solid rgb(238, 238, 238);
  list-style: none;
}

.navbar-profile-dropdown li {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 10px;
}

.navbar-profile-dropdown img {
  width: 20px;
}

.navbar-profile-dropdown li:hover {
  color: tomato;
}

/* ============================ */
/* MEDIA QUERY */

@media (max-width: 1050px) {
  .navbar .logo {
    width: 140px;
  }

  .navbar-menu {
    gap: 20px;
    font-size: 17px;
  }

  .navbar-right {
    gap: 30px;
  }

  .navbar-right img {
    width: 22px;
  }

  .navbar-right button {
    padding: 8px 25px;
  }
}

@media (max-width: 900px) {
  .navbar .logo {
    width: 120px;
  }

  .navbar-menu {
    gap: 15px;
    font-size: 15px;
  }

  .navbar-right {
    gap: 20px;
  }

  .navbar-right img {
    width: 20px;
  }

  .navbar-right button {
    padding: 7px 20px;

    font-size: 15px;
  }
}

/* media query */
@media (max-width: 750px) {
  .navbar-menu {
    display: none;
  }
}
